<h3>Contact Us</h3>
<a href="skype:hqguestposting?chat" title="" class="large"><img src="./assets/img/sk2.png" alt="" title="" class="mrt vmid" width="23" height="24">hqguestposting</a>
<div class="clear_medium"></div>
<a href="mailto:admin@hqguestposting.com" title="" class="large"><img src="./assets/img/mail2.png" alt="" title="" class="mrt vmid" width="24" height="16">admin@hqguestposting.com</a>
<div class="clear_big"></div>
<!-- div class="contacts_right">
    <a href="#" title="" class="large"><img src="img/sk2.png" width="23" height="24" alt="" title="" class="mrt vmid" />hqguestposting</a>
    <div class="clear razep"></div>
    <a href="#" title="" class="large"><img src="img/mail2.png" width="24" height="16" alt="" title="" class="mrt vmid" />admin@hqguestposting.com</a>
</div -->
<div class="clear"></div>
<form method="post">
  <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr>
      <td class="large" width="15%">Name</td>
      <td>
        <div class="contact_form_bagr">
          <span style="width:48%" class="fl"><input type="text" class="st_input st_input_half fl" placeholder="First" name="nameFirst" style="width:100% !important;"></span>
          <span style="width:48%" class="fr"><input type="text" class="st_input st_input_half fr" placeholder="Last" name="nameLast" style="width:100% !important;"></span>
          <div class="clear"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="large">E-mail</td>
      <td><div class="contact_form_bagr"><input type="text" class="st_input" placeholder="" name="email"></div></td>
    </tr>
    <tr>
      <td class="large">Your budget</td>
      <td><div class="contact_form_bagr"><input type="text" class="st_input" placeholder="$" name="budget"></div></td>
    </tr>
    <tr>
      <td class="large">Website</td>
      <td><div class="contact_form_bagr"><input type="text" class="st_input" placeholder="https://www.hqguestposting.com" name="website"></div></td>
    </tr>
    <tr>
      <td class="large vtop padtop">Message</td>
      <td><div class="contact_form_bagr"><textarea cols="" rows="" class="st_input" name="mailMessage"></textarea></div></td>
    </tr>
    <tr>
      <td class="large">Type the characters you see</td>
      <td><div class="contact_form_bagr"><img src="./assets/img/capcha.gif" alt="" title="" class="fl mrt"><input type="text" class="st_input cyf_wid fl" placeholder="" name="captcha"><div class="clear"></div></div></td>
    </tr>
    <tr>
      <td class="large">&nbsp;</td>
      <td>
        <div class="contact_form_bagr morepad">
          <input type="submit" value="Type" class="send_form sendmes fl">
          <a href="#" title="Rest" class="clear_form resetmes fr">Reset</a>
          <div class="clear"></div>
        </div>
      </td>
    </tr>
    </tbody></table>
</form>
<div id="send_success" class="send_success" style="display: none">Message have been sent!
  <div class="clear_medium"></div>
  <div class="clear_medium"></div>
  <div class="clear_medium"></div>
</div>
<div class="clear_medium"></div>
<div class="clear_medium"></div>
<div class="clear_medium"></div>
<div class="clear_medium"></div>
